<include file="public/header" />
<div class=" header-right">
	<div class=" banner">
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides" id="slider">
					<li>
						<div class="banner2">
							<div class="caption">
								<h3><span>iHome</span>租房网</h3>
								<p>开启您的租房新旅程</p>
							</div>
						</div>
					</li>
					<li>
						<div class="banner3">
							<div class="caption">
								<h3><span>iHome</span>租房网</h3>
								<p>开启您的租房新旅程</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--header-bottom-->
<div class="banner-bottom-top">
	<div class="container">
		<div class="bottom-header">
			<div class="header-bottom">
				<div class=" bottom-head">
					<a href="{:U('Index/shortRent')}">
						<div class="buy-media">
							<i class="buy"> </i>
							<h6>短期租房</h6>
						</div>
					</a>
				</div>
				<div class=" bottom-head">
					<a href="longRent.html">
						<div class="buy-media">
							<i class="apart"> </i>
							<h6>长期租房</h6>
						</div>
					</a>
				</div>
				<div class=" bottom-head">
					<a href="{:U('Index/publishing')}">
						<div class="buy-media">
							<i class="rent"> </i>
							<h6>发布房源</h6>
						</div>
					</a>
				</div>
				<div class=" bottom-head">
					<a href="showRooms.html">
						<div class="buy-media">
							<i class="pg"> </i>
							<h6>房源展示</h6>
						</div>
					</a>
				</div>
				<div class=" bottom-head">
					<a href="buy.html">
						<div class="buy-media">
							<i class="sell"> </i>
							<h6>个人中心</h6>
						</div>
					</a>
				</div>
				<div class=" bottom-head">
					<a href="loan.html">
						<div class="buy-media">
							<i class="loan"> </i>
							<h6>联系与反馈</h6>
						</div>
					</a>
				</div>
				<div class=" bottom-head">
					<a href="dealers.html">
						<div class="buy-media">
							<i class="deal"> </i>
							<h6>帮助与服务</h6>
						</div>
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--//header-bottom-->

<!--//header-->
<!--content-->
<div class="content">
	<div class="content-grid">
		<div class="container">
			<h3>最受欢迎</h3>
			<volist name="homepopular_list" id="homepopular_list">
				<div class="col-md-4 box_2">
					<a href="{:U('Index/room_detail',array(id=>$homepopular_list[id]))}" class="mask">
						<img class="img-responsive zoom-img" src="__PUBLIC__/{$homepopular_list.imgsrc}" alt="">
						<span class="four">{$homepopular_list.price}</span>
					</a>
					<div class="most-1">
						<h5><a href="{:U('Index/room_detail',array(id=>$homepopular_list[id]))}">{$homepopular_list.belongs}</a></h5>
						<p>{$homepopular_list.province}</p>
					</div>
				</div>
			</volist>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--service-->
	<div class="services">
		<div class="container">
			<div class="service-top">
				<h3>服务</h3>
				<p>倾尽我心，竭诚为您</p>
			</div>
			<div class="services-grid">
				<div class="col-md-6 service-top1">
					<div class=" ser-grid">
						<a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-user"> </a>
					</div>
					<div class="ser-top">
						<h4>可信赖的服务</h4>
						<p>iHome让分享变得简单、愉快、安全。我们验证用户的个人资料和房源信息，为房东和房客提供一个智能消息系统，让他们可以放心沟通，同时我们还提供一个值得信赖的收款和转款平台。</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 service-top1">
					<div class=" ser-grid">
						<a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-leaf"> </a>
					</div>
					<div class="ser-top">
						<h4>可信赖的服务</h4>
						<p>iHome让分享变得简单、愉快、安全。我们验证用户的个人资料和房源信息，为房东和房客提供一个智能消息系统，让他们可以放心沟通，同时我们还提供一个值得信赖的收款和转款平台。</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="services-grid">
				<div class="col-md-6 service-top1">
					<div class=" ser-grid">
						<a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-cog"> </a>
					</div>
					<div class="ser-top">
						<h4>可信赖的服务</h4>
						<p>iHome让分享变得简单、愉快、安全。我们验证用户的个人资料和房源信息，为房东和房客提供一个智能消息系统，让他们可以放心沟通，同时我们还提供一个值得信赖的收款和转款平台。</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 service-top1">
					<div class=" ser-grid">
						<a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-file"> </a>
					</div>
					<div class="ser-top">
						<h4>可信赖的服务</h4>
						<p>iHome让分享变得简单、愉快、安全。我们验证用户的个人资料和房源信息，为房东和房客提供一个智能消息系统，让他们可以放心沟通，同时我们还提供一个值得信赖的收款和转款平台。</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//services-->
	<!--project-->
	<div class="project">
		<div class="container">
			<h3>房屋画廊</h3>
			<div class="project-top">
				<volist name="gallery" id="gallery">
					<div class="col-md-3 project-grid">
						<div class="project-grid-top">
							<a href="{:U('Index/room_detail',array(id=>$gallery[id]))}" class="mask">
								<img src="__PUBLIC__/{$gallery.imgsrc}" class="img-responsive zoom-img" alt="" />
							</a>
							<div class="col-md1">
								<div class="col-md2">
									<div class="col-md3">
										<span class="star">{$gallery.star}</span>
									</div>
									<div class="col-md4">
										<strong>{$gallery.province}</strong>
										<small>{$gallery.comment-quantity}条评论</small>
									</div>
									<div class="clearfix"> </div>
								</div>
								<p>{$gallery.square}平方</p>
								<p class="cost">{$gallery.price}</p>
								<a href="{:U('Index/room_detail',array(id=>$gallery[id]))}" class="hvr-sweep-to-right more">查看详情</a>
							</div>
						</div>
					</div>
				</volist>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//project-->
	<!--感言-->
	<div class="content-bottom">
		<div class="container">
			<h3>感言</h3>
			<div class="col-md-6 name-in">
				<div class=" bottom-in">
					<p class="para-in">iHome提供的房子既漂亮又舒适，房东很nice，为我的旅途增添了不少色彩。</p>
					<i class="dolor"> </i>
					<div class="men-grid">
						<a href="#" class="men-top"><img class="img-responsive men-top" src="__PUBLIC__/images/te.jpg" alt=""></a>
						<div class="men">
							<span>苏维安</span>
							<p>房客</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class=" bottom-in">
					<p class="para-in">iHome提供的房子既漂亮又舒适，房东很nice，为我的旅途增添了不少色彩。</p>
					<i class="dolor"> </i>
					<div class="men-grid">
						<a href="#" class="men-top"><img class="img-responsive " src="__PUBLIC__/images/te2.jpg" alt=""></a>
						<div class="men">
							<span>皮特</span>
							<p>房客</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<div class="col-md-6  name-on">
				<div class="bottom-in ">
					<p class="para-in">自从在iHome上分布我的房源信息，我的房子有很多旅客在旅游时都会提前预定，有些甚至当长期租房来与我签租约。</p>
					<i class="dolor"> </i>
					<div class="men-grid">
						<a href="#" class="men-top"><img class="img-responsive " src="__PUBLIC__/images/te1.jpg" alt=""></a>
						<div class="men">
							<span>匹克</span>
							<p>房东</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<include file="public/footer" />
