<include file="public/header" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/ssi-uploader.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/shortRent.css" />
<include file="public/headerTwo" />

<!---->
<div class="single publishing">
	<div class="container">
		<div class="single-buy">
			<div class="col-sm-12 check-top-single">
				<div class="single-bottom">
					<h4>开始发布您的房源吧！</h4>
					<form role="form" action="{:U('Index/publishing')}" method="POST" enctype="multipart/form-data">
						<div class="row form-group">
							<div class="col-md-6">
								<label for="beginRentTime">开始出租时间</label>
								<input type="datetime-local" name="beginRentTime" id="beginRentTime" class="form-control" />
							</div>
							<div class="col-md-6">
								<label for="endRentTime">结束出租时间</label>
								<input type="datetime-local" name="endRentTime" id="endRentTime" class="form-control" />
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-6">
								<label for="rents">租金</label>
								<input type="text" name="rents" id="rents" class="form-control" placeholder="请输入您心目中的租金数额" />
							</div>
							<div class="col-md-6">
								<label for="perRents">租金单位</label>
								<select name="perRents" class="form-control">
									<option value="day">元/日</option>
									<option value="month">元/月</option>
									<option value="year">元/年</option>
								</select>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<label for="peopleIn">可入住人数</label>
								<input type="number" class="form-control" name="peopleIn" id="peopleIn" min="1" value="1" />
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<label for="address">地址</label>
								<input type="text" id="address" class="form-control" name="address" placeholder="地址">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label for="subscribe">房间描述</label>
								<textarea name="subscribe" id="subscribe" cols="20" rows="5" class="form-control" placeholder="描述下您的房间吧..."></textarea>
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label for="ssi-upload">上传房间图片</label>
								<input type="file" multiple id="ssi-upload"/>
								<!--<input type="file" class="chooseImg">-->
							</div>
						</div>
						<div class="form-group">
							<!--<button type="submit" class="btn btn-link">保存房源信息</button>-->
							<button type="submit" class="btn btn-success">提交房源信息</button>
							<button class="btn btn-success"><a href="preview.html" class="whiteFont">前往预览</a></button>
						</div>
					</form>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>

<!--
<script>
	$('.chooseImg').on('change',function(fileInfo){
		console.log(fileInfo);
	})
</script>-->
<script src="__PUBLIC__/js/ssi-uploader.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	// var galleryList = [];
	$('#ssi-upload').on('change',function(file){
		console.log($('.ssi-imgToUpload'));
	})
	$('#ssi-upload').ssi_uploader({
		url: '{:U('Index/upload')}',
		locale:'zh_CN',
	// 	// data: 
	// 	// onEachUpload: function(fileInfo){
	// 	// 	$('.ssi-imgToUpload').attr('name','tmp_name')
	// 	// 	console.log(fileInfo.uploadStatus+
	// 	// 		' '+fileInfo.name+' '+fileInfo.type+' '+fileInfo.size+' '+fileInfo.uploadStatus+' '+fileInfo.responseMsg
	// 	// 	);
	// 	// }
		beforeUpload: function(){
			$('.ssi-imgToUpload').attr('name','img');
		},
		// onEachUpload: function (fileInfo) {
		// 	galleryList.push(fileInfo.name);
		// },
		// onUpload: function () {
		// 	$("#ssi-upload").val(galleryList);
		// 	console.log(galleryList+'3');
		// }
	});
</script>
<include file="public/footer" />